*{

    margin: 0;
    padding: 0;
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    /* font-family: Arial, sans-serif; */
}

.Color-box{

        /* width: 300px;
        height: 80px; */
        padding: 15px 0px;
        top: 50%;
        left: 50%;
        position: fixed;
        transform:  translate(-50% , -50%);
        /* background-color: aqua; */
}

.Color-box button{
        width: 300px;
        height: 100px;
        border: none;
        border-radius: 10px;
        text-align: center;
        padding: 16px 0px;
        font-size: 25px;
        background-color: yellow;
}

.Color-box button:hover{

            background-color: rgb(58, 210, 210);
}